nav {
  display: flex;
  justify-content: flex-end;
  @media #{$brk-point} {
    display: none;
  }
}

.nav-search {
  background: #333333;
  color: white;
  padding: 5%;
  display: flex;
  justify-content: space-between;
  @media #{$brk-point} {
    display: none;
  }
  & a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
  }
  & a:last-child {
    color: #dc7725;
    border-left: 1px solid grey;
    padding-left: 3%;
  }
}

.nav-lower a {
  padding-right: 3%;
}

.medium-screen-nav {
  display: none;
  font-size: 1.5em;
  @media #{$brk-point} {
    display: block;
  }
}
