nav {
  display: flex;
  justify-content: flex-end;
  @media #{$brk-point-medium} {
    display: none;
  }
}

.nav-search {
  background: $nav-lower;
  color: $white;
  padding: 5%;
  display: flex;
  justify-content: space-between;
  @media #{$brk-point-medium} {
    display: none;
  }
  & a {
    color: $grey;
    text-decoration: none;
    font-size: 1.5em;
  }
  & a:last-child {
    color: $orange;
    border-left: 1px solid grey;
    padding-left: 3%;
  }
  & i {
    color: darken($grey, 15%);
  }
}

.nav-lower a {
  padding-right: 3%;
}

.nav-lower a:first-child {
  color: $white;
}

.medium-screen-nav {
  display: none;
  font-size: 1.5em;
  @media #{$brk-point-medium} {
    display: block;
  }
}
