// colors:
$background: #d1d1c9;
$orange: #dc7725;
$white: white;
$nav-lower: #333333;
$black: black;
$grey: #848b90;

// font-stacks
$stack-sans-serif: Arial, Helvetica, sans-serif;
$stack-cabin: "Cabin", $stack-sans-serif;

// media queries
$brk-point-large: "screen and (min-width: 1520px)";
$brk-point-medium: "screen and (max-width: 1100px)";
$brk-point-small: "screen and (max-width: 680px)";
